Package: asgard
Source: asgard
Version: #ASGUARD_VERSION#
Architecture: all
Maintainer: Leslie Lemaire (SNUM/UNI/DRC) et Alain Ferraton (SNUM/MSP/DS/GSG) <drc.uni.snum.sg@developpement-durable.gouv.fr>
Installed-Size: 600
Depends: postgresql-13|postgresql-14|postgresql-15 
Section: libs
Priority: optional
Homepage: https://github.com/MTES-MCT/asgard-postgresql
Description: PostgreSQL Extension ASGARD. 
 Système de gestion des droits pour PostgreSQL.
 ASGARD propose un cadre méthodologique et des outils pour faciliter la gestion
 des droits sur les bases PostgreSQL. ASGARD a été conçue et développée
 dans le cadre du groupe de travail PostGIS réunissant des services du pôle
 ministériel de la transition écologique, de la cohésion des territoires 
 et de la mer, ainsi que du ministère de l'agriculture et de l'alimentation.
